{% extends "layout.html" %}

{% block content %}

  <div class="container">
    <div class="mt-1">
      <h1>Liked this? please send us feedback!</h1>
    </div>
    <p class="lead">
      If you have found bugs
      that can be fixed please let us know through
      <a href="https://gitlab.com/">gitlab</a>
    </p>
    <p>Contact us at: spoticolor@mail.com</p>
  </div>

{% endblock %}
