{% extends "layout.html" %}

{% block content %}

<div class="container">

<script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>


<div class="container-fluid">

<h1>{{trackname}}</h1>
<hr class="half-rule"/>


<div class="row">
<div class="col-sm-4">

  <section class="sec text-centered">
    {% if trackJSON.album.images %}
      <img src="{{trackJSON.album.images[0].url}}" class="rounded img-square">
    {% else %}
      <img src="http://bit.ly/2nXRRfX" class="img-square">
    {% endif %}
  </section>

  <section class="sec" onload="draw();">
  {{graphJSON | safe}}

  <p>
<b>A</b> - acousticness  <br>
<b>D</b> - danceability <br>
<b>I</b> - instrumentalness <br>
<b>L</b> - liveness <br>
<b>S</b> - speechiness <br>
<b>V</b> - valence <br>
  </p>

  <section class="sec">

</div>



<div class="col-sm-8">

<h2>Time partition</h2>
<canvas id="treevis" width="600" height="400" style="border: 2px solid black;"></canvas>

<h2>Key Frequency</h2>
<canvas id="keyvis" width="600" height="300"></canvas>
<script>
  const colors = {{colors | tojson }};
  const starts = {{startVectors | tojson }};
  const chroma = {{chromaVector | tojson }};
</script>
<script src="{{ url_for('static', filename='js/canvis.js') }}"></script>

</div>


</div> <!-- row -->
</div> <!-- container -->



{% endblock %}
