<!doctype html>
<html>

  <head>

    <title>Spotify Color</title>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sticky_footer.css')}}">

    <!-- Google fonts and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  </head>

  <body>

    <div id="header">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">

        <div class="container-fluid">

          <a href='{{ url_for("index") }}'>
            <div class="navbar-header">
              <p class="navbar-brand" id="title" href="#">Spotify Color</p>
              <img src="{{url_for('static', filename='imgs/spotify.png')}}" id="icon">
            </div>
          </a>
          <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">

              <li>
                  <div class='icon-container container'>
                    <a href="{{ url_for('profile') }}">
                      <div class='row'>
                        <i class="material-icons">account_circle</i>
                      </div>
                      <div class='row'>
                        <span id='hidden'>Profile</span>
                      </div>
                      </a>
                  </div>
              </li>

              <li>
                  <div class='icon-container container'>
                    <a href="{{ url_for('featured_playlists') }}">
                      <div class='row'>
                        <i class="material-icons">schedule</i>
                      </div>
                      <div class='row'>
                        <span id='hidden'>Top</span>
                      </div>
                      </a>
                  </div>
              </li>

              <li>
                  <div class='icon-container container'>
                    <a href="{{ url_for('search') }}">
                      <div class='row'>
                        <i class="material-icons">search</i>
                      </div>
                      <div class='row'>
                        <span id='hidden'>Search</span>
                      </div>
                      </a>
                  </div>
              </li>

              <li>
                  <div class='icon-container container'>
                    <a href="{{ url_for('contact') }}">
                      <div class='row'>
                        <i class="material-icons">mail_outline</i>
                      </div>
                      <div class='row'>
                        <span id='hidden'>Contact</span>
                      </div>
                    </a>
                  </div>
              </li>

            </ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
          made with love by Spotify Color team
        </span>
      </div>
    </footer>

  </body>

</html>
